# ==========================================
# Especificos de CLion / JetBrains
# ==========================================
.idea/
# Si quieres compartir los estilos de codigo del equipo o diccionarios, 
# puedes descomentar las siguientes lineas:
# !.idea/codeStyles/
# !.idea/dictionaries/

# Quitar archivos de usuario especificos (diseño de pestañas, tareas locales, etc.)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionary.xml
.idea/**/shelf/

# Archivos de cmake-build creados por CLion
cmake-build-*/

# ==========================================
# Sistemas de Construccion (CMake / Ninja / Make)
# ==========================================
# Por si acaso compilas por consola fuera de CLion
CMakeFiles/
CMakeCache.txt
CMakeSettings.json
CMakeUserPresets.json
Makefile
cmake_install.cmake
compile_commands.json
.cmake/

# ==========================================
# Artefactos de Compilacion y Binarios
# ==========================================
# Objetos y Librerias
*.o
*.obj
*.a
*.lib
*.so
*.dylib

# Ejecutables finales
*.exe
*.out
*.app

# Archivos de depuracion (Debug symbols)
*.pdb
*.dSYM/

# ==========================================
# Temporales del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db